<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\Python_Document\PyCrashCourseChap18Django\venv\Scripts\python.exe|E:\Python_Document\PyCrashCourseChap18Django\venv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="E:\Python_Document\PyCrashCourseChap18Django" />

    <!-- Optional settings -->
    <add key="WSGI_LOG" value="C:\Logs\PyCrashCourseChap18Django.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
    <add key="DJANGO_SETTINGS_MODULE" value="PyCrashCourseChap18Django.settings" />
  <add key="WSGI_PTVSD_SECRET" value="__secret_code__" />
  </appSettings>
</configuration>